.App {
  text-align: center;
}

.marginl{
 margin-left: 20px;
}

body{
  background-color: black;
  /* background: linear-gradient(180deg, black, rgba(29,214,86,1) 100%);  */
  width: 99%;
}

.degrade{
  background: linear-gradient(180deg, black, rgba(29,214,86,1) 100%);
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/GothamBold.ttf") format("truetype");
}

.cspoti{
  color: #81b71a ;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
